* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body
    {
      background-image: url(../images/pic14.avif);
      height: 100vh;
      background-position: center;
      background-size: cover;
      margin: 50px;
    }
    h2 {
            text-align: center;
            margin-top: 50px; 
            font-size: 36px;
            color: #333333;
        }

        
        form {
            max-width: 500px;
            margin: 0 auto;
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        
        label {
            font-size: 20px;
            font-weight: bold;
            color: #333333;
            margin-top: 10px;
        }

    
        select, input[type="date"], input[type="time"] {
            font-size: 16px;
            color: #666666;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #F4F4F4;
            margin-bottom: 20px;
            width: 100%;
        }

        
        input[type="submit"] {
            background-color: #4CAF50;
            color: #FFFFFF;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out; 
        }

        
        input[type="submit"]:hover {
           background-color: #3E8E41;
        }